@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:ital,wdth,wght@0,50..125,700;1,50..125,700&display=swap");
:root {
  --primary: #002b5c;
  --secondary: #3399ff;
  --gray: #4a4a4d;
  --bg: #ecf0f3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  font-family: "Saira", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  overflow-x: hidden;
  background: var(--bg);
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}
.shape {
  position: absolute;
  animation: float 3s infinite ease;
}

/* الدائرة */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #00f4ab;
  top: 130px;
  left: 50px;
  animation-delay: 0s;
}
/* المثلث */
.triangle {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 55px solid #002b5c;
  top: 150px;
  left: 500px;
  animation-delay: 1s;
}

/* حركة طافية */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
}
header .navbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
header .navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 1.5rem 2rem;
}
header .navbar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar nav ul .links {
  margin: 0 15px;
  color: var(--primary);
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.279);
}
header .navbar nav ul li .links:hover {
  border-bottom: 2px solid var(--secondary);
  color: var(--secondary);
}
#wrap {
  white-space: nowrap;
}
.logo{
  color: #002b5c;
  font-size: 24px;
  font-weight: 700;
}
.content-info {
  background-color: var(--bg);
}
.content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  padding: 7rem 2rem;
}
.content img {
  max-width: 320px;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(90deg, #00cfff, #002b5c);
  transition: all 0.5s ease;
  background-size: 200% 200%;
  animation: gradientMove 2s ease infinite;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2),
    3px 3px 20px rgba(0, 207, 255, 0.6);
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.text-primary {
  color: var(--secondary);
}
.text-secondary {
  color: var(--primary);
}
.content p span {
  font-weight: 700;
  font-size: 20px;
}
.content h1 {
  font-size: 60px;
  color: var(--primary);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}
#arrow {
  height: 40px;
  width: 40px;
  font-size: 16px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  border: none;
  color: #fff;
  background-color: var(--secondary);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#arrow.show {
  opacity: 1;
  visibility: visible;
}
#arrow:hover {
  background-color: var(--primary);

  cursor: pointer;
}
.title {
  font-size: 28px;
  font-weight: 700;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.about-info {
  font-size: 20px;
  background: linear-gradient(90deg, #002b5c, #00cfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5px;
  font-weight: 600;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #002b5c;
  width: 0;
  animation: typing 5s steps(13) infinite, blink 0.6s step-end infinite;
}
@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 13ch;
  }
  70% {
    width: 13ch;
  }
  100% {
    width: 0;
  }
}
@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #002b5c;
  }
}
.social {
  margin: 1.5rem 0;
}
.social a i {
  font-size: 20px;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  margin-right: 12px;
  transition: all 0.3s ease-in-out;
}
.social a i:hover {
  transform: scale(0.85);
}
.social a .facebook {
  background: linear-gradient(135deg, #1877f2 0%, #166fe5 50%, #0e5ad9 100%);
}
.social a .linkedin {
  background: linear-gradient(135deg, #0a66c2 0%, #004182 100%);
}
.social a .instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.social a .github {
  background: linear-gradient(135deg, #24292e 0%, #181717 100%);
}
.btn {
  display: flex;
  width: fit-content;
}
.btn1 {
  background-color: var(--secondary);
  color: #fff;
  padding: 10px 15px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.btn1:hover {
  background-color: #3a5574;
}
.text {
  margin: 5rem 0;
}
#about,
#skills,
#services {
  padding: 6rem 0;
}
#about h2,
#skills h2,
#services h2,
#contact h2 {
  text-align: center;
  font-size: 38px;
  color: var(--primary);
  font-weight: 600;
  letter-spacing: 1px;
}
#about hr,
#skills hr,
#services hr {
  width: 100px;
  height: 3px;
  background-color: var(--secondary);
  border: none;
  margin: 5px auto 0;
}
#about .about-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 5rem;
  align-items: center;
}

#about .about-content .col1 p {
  color: var(--gray);
  margin-bottom: 20px;
  line-height: 1.8;
}
#about .about-content .col2 p {
  color: var(--gray);
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
#about {
  background: url(/Assets/stars1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#esgen {
  width: 23px;
  border-radius: 50%;
  margin-left: 8px;
  vertical-align: middle;
}
#skills {
  background-color: var(--primary);
}
#skills h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
}
#skills .row img {
  max-width: 70px;
}
#skills .skills-content {
  margin-top: 2rem;
  background: #0d2b3d;
  border-radius: 10px;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}
.row .item {
  color: #fff;
  background-color: #000;
  margin: 20px;
  padding: 1rem;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: 3px solid transparent;
  transition: all 0.7s ease;
}
.row .item:hover {
  border: 3px solid var(--bg);
  box-shadow: 5px 5px 10px var(--secondary);
}
#services {
  background-color: #00cfff0c;
}
#services .row1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
  text-align: center;
  column-gap: 2rem;
  row-gap: 4rem;
}
#services .heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .heading img {
  width: 55px;
  margin-right: 10px;
}
#services .row1 .item1 img {
  width: 55px;
}
#services .row1 .item1 {
  background-color: #fff;
  padding: 30px 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease;
}
#services .row1 .item1:hover {
  transform: scale(1.04);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}
#services .row1 .item1 h3 {
  margin: 15px 0;
  color: var(--primary);
}
#services .row1 .item1 p {
  font-size: 14px;
}
#contact {
  background-color: var(--bg);
  padding: 4rem 0;
}
#contact .form {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem 3rem;
  border-radius: 10px;
  column-gap: 2rem;
}
#contact .form img {
  max-width: 400px;
}
#contact .form input,
#contact .form textarea {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  outline: none;
  background: #00cfff0c;
  border: 1px solid #bbb;
  border-radius: 5px;
  transition: border 0.001s ease;
}
#contact .form input:focus,
#contact .form textarea:focus {
  border: 2px solid #3399ff;
}
#footer {
  background: #222;
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
}
#menuBtn,
#menuBtnClose {
  opacity: 0;
  visibility: hidden;
  font-size: 25px;
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.item,
.item1 {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}
@media (max-width: 767px) {
  #arrow {
    right: 18px;
    bottom: 20px;
  }
  header {
    height: auto;
  }
  #my-pic {
    text-align: center;
  }
  #nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  #home .navbar nav {
    display: block;
  }
  #home .navbar ul {
    margin-top: 20px;
  }
  #home .navbar nav ul a {
    margin: 0 10px;
  }
  #home .content h1 {
    font-size: 50px;
  }
  .content {
    grid-template-columns: 1fr;
  }
  .content img {
    max-width: 280px;
    margin: auto;
    margin-top: 3.5rem;
  }
  #contact .form {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  #about .about-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .row,
  #services .row1 {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  #contact .form img {
    margin: auto;
  }
  #about {
    padding: 4rem 0;
  }
  .circle {
    width: 50px;
    height: 50px;
    top: 600px;
    left: 100px;
  }
  .triangle {
    top: 150px;
    left: 430px;
  }
  #menuBtn,
  #menuBtnClose {
    display: block;
    z-index: 1000;
    transition: 0.2s;
  }
  #menuBtn,
  #menuBtnClose.show {
    opacity: 1;
    visibility: visible;
  }
  #menuBtn.hide {
    opacity: 0;
    visibility: hidden;
  }
  #nav-links {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #fff;
    position: absolute;
    font-size: 17px;
    top: 60px;
    z-index: 1;
    right: 0;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
  }
  #nav-links hr {
    width: 100%;
    opacity: 0.3;
  }
  #nav-links.show {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 528px) {
  #home .content h1 {
    font-size: 35px;
  }
  .content {
    grid-template-columns: 1fr;
  }
  .content img {
    margin: auto;
    margin-top: 3.5rem;
  }
  .text {
    margin-bottom: 0;
    margin-top: 7rem;
  }
  #about h2,
  #skills h2,
  #services h2,
  #contact h2 {
    font-size: 30px;
  }
  #wrap {
    white-space: nowrap;
  }
  #about .about-content .col1 h3 {
    font-size: 22px;
  }
  .row {
    grid-template-columns: 1fr;
  }
  #contact .form {
    padding: 2rem 1rem;
  }
  .form img {
    width: 250px;
  }
  .col2 {
    font-size: 15px;
  }
  .circle {
    width: 35px;
    height: 35px;
    top: 550px;
    left: 50px;
  }

  .triangle {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 45px solid #002b5c;
    top: 150px;
    left: 180px;
  }
}
